/* 共通の設定 //////////////////////////////////////////// */

	/* 全ての要素に適用 */
	*, *::before, *::after{
        box-sizing: border-box;
        word-wrap:break-word;
      }
    /* ウィンドウ背景色の設定 */
    body{
        width:100%;
        height: 2900px;
        color: #FFF;
        background-color: #000;
        font-family: "ＭＳ 明朝", "游明朝", serif;
        font-weight: bold;
    }
    /* ユーティリティ */
    .clearfix::after{
        content: "";
        display:block;
        clear: both;
    }
    /* アニメーション */
    .sa {
        opacity: 0;
        transition: transform 1.0s ease, opacity 1.0s ease;
    }
    .sa.show {
        opacity: 1;
        transform: none;
    }
    .sa--lr {
        transform: translate(-100px, 0);
    }
    .sa--rl {
        transform: translate(100px, 0);
    }
    .sa--up {
        transform: translate(0, 100px);
    }
    .sa--down {
        transform: translate(0, -100px);
    }
    .sa--scaleUp {
        transform: scale(.5);
    }
    .sa--scaleDown {
        transform: scale(1.5);
    }
    .sa--rotateL {
        transform: rotate(180deg);
    }
    .sa--rotateR {
        transform: rotate(-180deg);
    }

/* 個々の設定 ///////////////////////////////////////////// */
    /* ラッパーの設定 */
    #wrapper-all{
        width:1000px;
        height: 2100px;
        margin:0 auto;
        background-image: url("images/chara/haikei.png");
    }
    /* ヘッダーの設定 */
    #header{
        width:100%;
	}  
    /* ページタイトルの設定　*/
    #header h1{
        display: none;
	}
	/* ナビの設定 */
	.gnav{
        position: fixed;
        text-align: center;
        vertical-align: bottom;
        width: 1000px;
        left:calc(50% - 1000px/2);
        background-color: #000;
        z-index: 10;
	}
    .gnav .nav-item{top:-20px;}
	.gnav li{
		position: relative;
        display: inline-block;
	}
	.gnav li a{
		display: block;
        margin: 0 18px 0 0;
		text-align: center;	
    }
    .gnav li:last-child a{margin-right: 20px;}
    .gnav .goldline{
        position: relative;
        display: block;
        margin: 0 auto;
    }
    /* chara-select */
    #chara-select .wrapper{
        width:836px;
        height: 265px;
        position: relative;
        top:280px;
        background-image: url("images/chara/base.png");
        margin: 0 auto;
    }
    #chara-select .inner-wrapper{
        width: 744px;
        margin: 0 auto;
        padding-top: 10px;
    }
    #chara-select .chara-icon{
        float: left;
        margin: 0 12px 12px 0;
    }
    #chara-select .ciel{
        margin-right: 0px;
    }
    #chara-select img:hover{
        opacity: 0.7;
    }
    /* main */
    #main .wrapper{
        position: relative;
        top:340px;
        width: 905px;
        height: 1264px;
        background-image: url("images/chara/alec/alec_base.png");
        margin: 0 auto;
    }
    #main .tachie{
        position: relative;
        left:400px;
        top:40px;
    }
    #main .button{
        position: absolute;
        left:48%;
        z-index: 5;
    }
    #main .button:hover{
        opacity: 0.7;
    }
    #main .serihu{
        position: absolute;
        top:95px;
        left:82%;
    }
    /* フッター */
    #footer div{
        position: relative;
        top:570px;
    }
    #footer img{
        display: block;
        position: relative;
        margin: 0 auto;
    }