/* 共通の設定 //////////////////////////////////////////// */

	/* 全ての要素に適用 */
	*, *::before, *::after{
        box-sizing: border-box;
        word-wrap:break-word;
      }
    /* ウィンドウ背景色の設定 */
    body{
        width:100%;
        height: 2900px;
        color: #FFF;
        background-color: #000;
        font-family: "ＭＳ 明朝", "游明朝", serif;
        font-weight: bold;
    }
    /* ユーティリティ */
    .clearfix::after{
        content: "";
        display:block;
        clear: both;
    }
    /* アニメーション */
    .sa {
        opacity: 0;
        transition: transform 1.0s ease, opacity 1.0s ease;
    }
    .sa.show {
        opacity: 1;
        transform: none;
    }
    .sa--lr {
        transform: translate(-100px, 0);
    }
    .sa--rl {
        transform: translate(100px, 0);
    }
    .sa--up {
        transform: translate(0, 100px);
    }
    .sa--down {
        transform: translate(0, -100px);
    }
    .sa--scaleUp {
        transform: scale(.5);
    }
    .sa--scaleDown {
        transform: scale(1.5);
    }
    .sa--rotateL {
        transform: rotate(180deg);
    }
    .sa--rotateR {
        transform: rotate(-180deg);
    }

/* 個々の設定 ///////////////////////////////////////////// */
    /* ラッパーの設定 */
    #wrapper-all{
        width:1000px;
        height: 2100px;
        margin:0 auto;
        background-image: url("images/gallery/cg/haikei.png");
    }
    /* ヘッダーの設定 */
    #header{
        width:100%;
    }  
    .header-wrapper{
        height: 300px;
    }
    /* ページタイトルの設定　*/
    #header h1{
        display: none;
	}
	/* ナビの設定 */
	.gnav{
        position: fixed;
        text-align: center;
        vertical-align: bottom;
        width: 1000px;
        left:calc(50% - 1000px/2);
        background-color: #000;
        z-index: 10;
	}
    .gnav .nav-item{top:-20px;}
	.gnav li{
		position: relative;
        display: inline-block;
	}
	.gnav li a{
		display: block;
        margin: 0 18px 0 0;
		text-align: center;	
    }
    .gnav li:last-child a{margin-right: 20px;}
    .gnav .goldline{
        position: relative;
        display: block;
        margin: 0 auto;
    }
    /* thumbnail-area */
    .thumbnail-area-wrapper{
        width:90%;
        position: relative;
        margin: 0 auto;
        background-image: url("images/gallery/cg_samune/cg_mamune_base.png");
        background-size: 900px auto;
    }
    #thumbnail-area .inner-wrapper{
        width: 96.5%;
        margin: 0 auto;
    }
    #thumbnail-area .row{
        margin-top: 18px;
    }
    #thumbnail-area .row:first-child{
        padding-top: 25px;
    }
    #thumbnail-area .row:last-child{
        padding-bottom: 30px;
    }
    #thumbnail-area .thumbnail{
        width:23%;
        margin-left: 15px;
    }
    #thumbnail-area .thumbnail:hover{
        position: relative;
        top: -2px;
        left: 2px;
        opacity: 0.8;
        cursor: pointer;
    }
    #thumbnail-area div{
        line-height: 0;
    }
    /* CG-area */    
    .lower-area-wrapper{
        width:90%;
        height:1023px;
        position: relative;
        margin: 30px auto 0;
        background-image: url("images/gallery/cg_base.png");
        background-size: 900px 1023px;
    }
    .CG-area-wrapper{
        width:94%;
        margin: 0 auto;
        padding-top: 42px;
    }
    #CG-area .wrapper-main{
        float: left;
        width: 81%;
        padding-right: 10px;
    }
    #CG-area .wrapper-main img{
        width: 100%;
    }
    #CG-area .wrapper-thumbnail{
        float: right;
        width: 19%;
    }
    #CG-area .wrapper-thumbnail img{
        width: 100%;
        padding-bottom: 6px;
    }
    #CG-area .CG-thumbnail-button:hover{
        position: relative;
        top: -2px;
        left: 2px;
        opacity: 0.8;
        cursor: pointer;
    }
    /* text-area */
    .text-area-wrapper{
        width:94%;
        height: 410px;
        margin: 20px auto;
        overflow: scroll;
    }
    #text-area img{
        width:100%;
    }

    /* フッター */
    #footer div{
        position: relative;
        top:130px;
    }
    #footer img{
        display: block;
        position: relative;
        margin: 0 auto;
    }